<div class="col-md-3 magazine-page">
  <!-- Posts -->
  <div class="posts margin-bottom-40">
    <div class="headline headline-md"><h2>Recent Posts</h2></div>
    <% (1..3).each do |lp| %>
        <dl class="dl-horizontal">
          <dt>
            <%= link_to('#', title: 'Read the article') do  %>
                <img src="#" alt="" />
            <% end %>
          </dt>
          <dd>
            <p><%= link_to 'Blog title', '#' %></p>
          </dd>
        </dl>
    <% end %>
  </div><!--/posts-->
  <!-- End Posts -->

  <!-- Blog Tags -->
  <div class="headline headline-md"><h2>Blog Tags</h2></div>
  <ul class="list-unstyled blog-tags margin-bottom-30">
    <% (1..10).each do |sc| %>
        <li>
          <%= link_to('#', title: 'Articles on ' + 'category') do %>
              <i class="fa fa-tags"></i>
              <%= 'Category' %>
          <% end %>
        </li>
    <% end %>
  </ul>
  <!-- End Blog Tags -->

</div>
